div {
  background-color: #282c34;
  color: #f8f9fc;
  display: block;
  width: 244px;
  height: 84px;
  overflow: auto;
  padding: 12px;
  border: solid 2px #ff0000;
  box-sizing: border-box;
}

#paçoquinha {
  background-color:#197e57;
  position: sticky;
  top: 0px;
  left: 0px;
}
#rapadura {
  background-color: #b45252;
  opacity: 1.0;
  position: relative;
  top: 0px;
  left: 0px;

}
#churros {
  background-color: rgb(136, 129, 230);
}