div {
  background-color: #282c34;
  color: #f8f9fc;
  display: block;
  width: 244px;
  height: 84px;
  overflow: auto;
  padding: 12px;
  border: solid 2px #ff0000;
  margin: 12px;
  box-sizing: border-box;
}

#paçoquinha {
  background-color:#197e57;
}
#rapadura {
  background-color: #b45252;
  padding: 24px 12px 6px 3px;
  float: right; 
}
#churros {
  float: right;
}